<ul class="nav">
    <li class="nav-home nav-current"><a href="http://localhost:3000/">Home</a></li>
    <li class="nav-about"><a href="/about">About</a></li>
    <li class="nav-about"><a href="http://localhost:2368/">BLOG</a></li>
    <li class="nav-contact"><a href="/contact">Contact</a></li>
</ul>